<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/cart.css">

</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <% if (cartProducts.length>0){ %>
        <main style="margin-top: auto;">

            <ul style="list-style: none;">
                <% cartProducts.forEach(productData=>{ %>
                <li>
                    <div class="Cart_Item">
                        <img style="margin-right: 0.5em;" src="/<%=productData.productId.imageUrl %>" width="70rem" height="90rem" >
                        <span style="margin:0em 0.25em,;"><%=productData.productId.title %></span>   
                        <h5 class="QTY"><%=productData.quantity %></h5>
                          
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                            <input type="hidden" value="<%=productData.productId._id%>" name="productId">
                            <button type="button" onClick="deleteProduct(this)" style="border: none;background: inherit;" data-toggle="tooltip" data-placement="bottom" title="Remove Item"><svg style="color: #ff1818;" class="bi bi-trash" width="1.75em" height="1.75em" viewBox="0 0 16 16" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg></button>
                    
                    </div>
                </li>
                <%})%>
            </ul>
            <footer>
                <h4 class="Tp">Total:<%=cartTotalprice%> </h4>
                <a href="/checkout"> <button class="Co">checkout</button></a>
            </footer>
            <% }else{ %>
                <h4 style="text-align: center; padding: 6em;">Your Cart is Empty</h4>
                <%}%>
            </main>
</body>
<script src="/js/cart.js"></script>

</html>